// --- Typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// --- General
.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.container {
  width: 80%;
  margin: 1em auto;
}

// --- Forms
input {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: stretch;
  border: 2px solid $cream;
  padding: 0.5em 1em;
  margin-top: 0.6em;
  &:focus {
    outline: none;
  }
}

// custom dropdown menu
.dropdown {
  cursor: pointer;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  padding: 0.7em 1em;
  border: 2px solid $cream;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 2px;
  color: $gray;

  &:focus {
    outline: none;
  }
}

.option {
  @extend .dropdown;
  background-color: $white;
  list-style: none;
  border-top: none;

  &:hover {
    background-color: $cream;
  }
}

// error message on forms
.error {
  font-size: 0.9em;
  margin-top: 0.4em;
  color: red;
}

// ------ RESPONSIVE --------
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
  }
}
