// --- Body
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
  color: $navy;
  margin: 0;
  padding: 0;
  background-color: $white;
}

// --- Typography
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// --- General
.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.end {
  justify-content: end;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

// --- Forms
form {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: left;
  margin-bottom: 1em;
  height: 10em;
  position: absolute;

  button {
    @include button-default;
    position: relative;
    margin-top: 2em;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}

.form-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 2px;
  margin: 1.2em 0.3em 0 0.3em;

  &-50 {
    width: 50%;
  }
}

.form-row {
  justify-content: space-between;
}

input {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 60em;
  border: 2px solid $cream;
  border-radius: 3px;
  padding: 0.7em 1em;
  margin-top: 0.2em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 2px;
  color: $gray;

  &:focus {
    outline: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}

// date input
.date-picker {
  width: 28em;
}

// custom dropdown menu
.dropdown {
  @extend input;
  padding: 0;
  width: 30em;
  cursor: pointer;
  margin-left: 1em;
  position: absolute;
  background-color: $white;
  z-index: 20 !important;

  &:focus {
    outline: none;
  }
}

.display-option {
  padding: 0.8em 1em;
  width: 28em;
}

.options-wrapper {
  width: stretch;
}
.option {
  @extend .display-option;
  width: 28em;
  position: relative;
  background-color: $white;
  border: 2px solid $cream;
  border-radius: 0;
  list-style: none;
  border-top: none;
  border-left: none;
  left: 0;

  &:first-of-type {
    border-top: 2px solid $cream;
  }

  &:hover {
    background-color: $cream;
  }
}

// error message on forms
.error {
  font-size: 0.9em;
  margin-top: 0.4em;
  color: red;
}

// ------ RESPONSIVE --------
@media screen and (max-width: 768px) {
  // typography
  h1 {
    font-size: 1.5em;
  }

  // general
  .container {
    width: 90vw;
    margin: 0 auto;
  }

  // form
  form {
    button {
      margin-top: 6em;
      padding: 1.4em 0 1.4em 0;
      font-size: 1em;
    }
  }
  .form-label {
    font-size: 1em;
  }

  .form-row {
    display: block;
  }

  .half {
    width: 20em;
  }

  input {
    font-size: 1.2em;
    padding: 1em 1em;
    width: 20em;
  }

  .date-picker {
    width: 20em;
  }

  .display-option {
    width: 20em;
    padding: 1em;
  }

  .options-wrapper {
    height: 16em;
    overflow: scroll;
  }

  .dropdown {
    width: 22em;
    margin-left: 0;
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  // form
  form {
    button {
      padding: 1.2em 0;
    }
  }
  input {
    width: 12em;
  }

  .dropdown {
    width: 14em;
  }

  .display-option {
    width: 12em;
  }

  .date-picker {
    width: 12em;
  }

  .half {
    width: 12em;
  }
  .options-wrapper {
    height: 9em;
  }
}
