@mixin fade-in-bottom {
  animation: fade 0.8s ease-in-out;

  @keyframes fade {
    0% {
      opacity: 0%;
      top: 40px;
    }
    100% {
      opacity: 100%;
      top: 0;
    }
  }
}

@mixin button-default {
  border: none;
  padding: 0.7em 1em;
  background-color: $lgreen;
  color: $white;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}
