// --- GENERAL
$white: #fffefb;
$cream: #f7ebdb;
$yellow: #fff5bd;
$salmon: #f3a089;
$lgreen: #93e9be;
$dgreen: #21a362;
$green: #125734;
$black: #0a090c;
$navy: #2c3e50;
$gray: #9ca3a9;

// --- CHART COLOURS
$p1: #fb7477;
$p2: #f7a578;
$p3: #fabe75;
$p4: #fad275;
$p5: #b4d39c;
$p6: #99d6c4;
$p7: #a2cdcc;
$p8: #8cc9e3;
$p9: #c2a9c6;
